<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apchaining.CreateUser"/>
      <class name="apchaining.GetUser"/>
      <class name="apchaining.UpdateUser"/>
      <class name="apchaining.DeleteUser"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
